<!--
 <div class ="container">
    <p class="p-heading">Projects </p>
</div>
-->
<h1 class="page-headings">Projects</h1>
<div class="container" >
    <div class="row justify-content-between" >
      <div class="col-sm" id="projectsContainer">
        <h3 class="projectTitle">Cube Attack</h3>
        <a href="https://play.google.com/store/apps/details?id=com.Simar.Cube_Attack&hl=en&gl=US" target="_blank">
            <img src="Assets\images\cubeAttackicon.png" class="img-thumbnail" alt="Cube Attack Icon">
        </a>
        <p class="projectDesc">This is an android game made in Unity and uploaded to Android Play store.The game has main game loop,
            also a shop to buy power ups, and also scoring system uploaded.</p>
        </p>
      </div>
      <div class="col-sm" id="projectsContainer">
        <h3 class="projectTitle">Tic Tac Toe</h3>
        <a href="https://play.google.com/store/apps/details?id=com.Simar.TicTacToe3D" target="_blank">
            <img src="Assets\images\tictactoe3dicon.png" class="img-thumbnail" alt="Tic Tac Toe 3D Icon">
        </a>
        <p class="projectDesc">This is a 3D version of a normally 2D tic-tac-toe game. The circles and crosses fall from the sky giving it a cool effect.
            I also implemented admob api's to monetize this game.
        </p>
      </div>
      <div class="col-sm" id="projectsContainer">
        <h3 class="projectTitle">Canon Fire</h3>
        <a href="https://www.instagram.com/p/CAM0OBCjq4H/" target="_blank">
            <img src="Assets\images\fireCanonIcon2.png" class="img-thumbnail" alt="Fire Canon Icon">
        </a>
        <p class="projectDesc">
            This is among many small projects that I created using magicavoxel and I have posted them on my Instagram account simarvoxel.
        </p>
      </div>
    </div>
  </div>
          