<h1 class="page-headings">Services</h1>

<div class="container" >
    <div class="row justify-content-between" >
      <div class="col-sm" id="servicesContainer">
        <a href="https://unity.com/" target="_blank">
            <img src="Assets\images\unity.png" class="img-thumbnailServices" alt="Cube Attack Icon">
        </a>
        <h3 class="servicesTitle">Game Development-Unity3d</h3>
        <p class="servicesDesc">I am a Unity 3d developer, who has made and published 2 games on android play store.
            I can make highly interactive fun games for you, according to the idea you have.
        </p>
        </p>
      </div>
      <div class="col-sm" id="servicesContainer">
        <a href="https://github.com/Harsimarjit" target="_blank">
            <img src="Assets\images\hcj.png" class="img-thumbnailServices" alt="Java Icon">
        </a>
        <h3 class="servicesTitle">Website Development</h3>
        <p class="servicesDesc">
            I can help create a website for you or your organization according to your requirements using HTML,CSS and Javascript.
            I will deliver aesthetically pleasing and engaging website with clean code for you to iterate.
        </p>
      </div>
      <div class="col-sm" id="servicesContainer">
        <a href="https://www.instagram.com/simarvoxel/?hl=en" target="_blank">
            <img src="Assets\images\voxelArt.jpg" class="img-thumbnailServices" alt="Voxel Artist Icon">
        </a>
        <h3 class="servicesTitle">Voxel Artist</h3>
        <p class="servicesDesc">
            I am also a voxel artist, and can create very detailed models that can be used in you game engine of choice
            may it be Unity or Unreal.
        </p>
      </div>
    </div>
  </div>