<!--
 <div class ="container">
    <p class="p-heading">Hi. I am Harsimarjit Singh.A Game Developer. </p>
    <p class="main-para">I am also front-end developer with a keen eye for creating engaging UI, bringing products to life.Love to play and create video games</p>
</div>
-->
<div class="container-fluid bg-3 text-center" id="aboutContainer">    
  <div id="about" class="paddsection">
    <div class="container">
      <div class="row justify-content-between">
        <div class="col-lg-4 ">
          <div class="div-img-bg">
            <div class="about-img">
                <img src="Assets\images\1.jpg" class="img-thumbnail" alt="me">
            </div>
          </div>
        </div>
        <div class="col-lg-7" id="aboutInfo">
          <div class="about-descr">
            <h4 class="p-heading">Hello! My name is Harsimarjit Singh Badding.</h4>
            <p class="main-para">I am a game developer and web developer who has alot of passion for games and interactive 
                website building.</p> 
            <a id="resumebtn" href="https://docs.google.com/document/d/1GjQ41dQ5AWzCMAnUyCc9n5omAAdW2JHlNAlRWwJN81E/edit?usp=sharing" 
                        class="fa-solid fa-folder-user" id="resumeHref" target="_blank">Resume</a>
            <i class="fas fa-solid fa-file"></i>
            
          </div>

        </div>
      </div>
    </div>
  </div>