<div id="header"> 
<div class="container" id="bgHome">

  <section class="intro" id="home">
    <h1 class="section__title section__title--intro">
        Hi, I am <strong>Harsimarjit Singh Badding</strong>

    </h1>
      <h3 class="section__title section__title--intro">Onward and Upwards</h3>
      <p class="section__title section__title--intro">My mission is to be a life long learner.</p>
      <a href="\about">      <button class="btn btn-dark btn-send"> About Me</button></a> 

    <p class="section__subtitle section__subtitle--intro">front-end dev , and game dev</p>
    <img src="Assets\images\th.jpg" alt="a picture of Harsimarjit smiling" class="intro__img">
</section>

</div>
  </div>